VITE_CDN_URL='ask_your_admin'

VITE_GRAPHQL_URL="http://localhost:3000/graphql"
VITE_LOGIN_URL="http://localhost:3000/login"
VITE_LOGOUT_URL="http://localhost:3000/logout"

VITE_LOGGED_OUT_URL="https://shibboleth.main.ad.rit.edu/logout.html"

VITE_ORIGIN=http://localhost:3001
VITE_URL=http://localhost:3001/app
