# Used to connect to the database (NEED TO UPDATE)
DATABASE_URL=postgresql://postgres:DATABASE_PASSWORD@localhost:5432/postgres
# Used for tracking user sessions
SESSION_SECRET=super_secret

# Where the client part of webapp lives
VITE_ORIGIN=http://localhost:3001
VITE_URL=http://localhost:3001/app

# Password for interfacing with card readers
SERVER_API_PASSWORD="abcdefg"

# Single Sign On Configuration
ENTRY_POINT="https://mocksaml.com/api/saml/sso"
CALLBACK_URL="http://localhost:3000/login/callback"

ISSUER="ask_your_admin" # (NEED TO UPDATE)
ID_FORMAT="ask_your_admin"
SSL_PUBKEY="ask_your_admin"
SSL_PVKEY="ask_your_admin"
IDP_PUBKEY="ask_your_admin" #(NEED TO UPDATE)